// Set your brand colors
$grey: #9A9A8E;
$master_green: #4F6D56;
$brown: #757763;
$beige-light: #d0d1cd;
$blue-light: #222D4C;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $master_green,
  $link: $blue-light,
  $control-border-width: 2px,
  $input-shadow: none,
  $label-color: $blue-light,
);

@forward "bulma/sass/themes";

@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/themes/dark";
@use "bulma/sass/themes/setup";

@include cv.bulma-theme($name: "dark") {
  @include dark.dark-theme;
  @include setup.setup-theme;
}


// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

