{% extends 'base.html' %}
{% load static %}
{% load template_filter %}
{% block title %}Dashboard - {{ empresa.nome }}{% endblock %}

{% block content %}
    <section class="hero is-link is-small">
        <article class="media">
            <figure class="media-left py-5 pl-4">
                <p class="image is-128x128">
                    <img src="{% static 'imgs/grupo_master.png' %}"/>
                </p>
            </figure>
            <div class="hero-body">
                <p class="title">Painel - {{ empresa.nome }}</p>
                <p class="subtitle">Gerencie seus soldadores e solicitações</p>
            </div>
        </article>
    </section>
    <div class="box">
        <div class="columns is-desktop">
            <div class="column">
                <h3 class="title is-4">Solicitações de Qualificação</h3>
                {% for soldador in soldadores %}
                    <div class="soldador">
                        <div class="is-flex is-justify-content-space-between"><h4 class="title is-5">{{ soldador.nome }} - {{ soldador.cpf }}</h4><a href="{% url 'solicitacao-qualificacao-soldador' soldador.id %}" class="button is-small is-link">Nova Solicitação</a></div>
                        <div hx-get="{% url 'solicitacoes-soldador' soldador.id %}" hx-trigger="load" hx-target="#solicitacoes-{{ soldador.id }}">
                            <div id="solicitacoes-{{ soldador.id }}">
                                <!-- Solicitações serão carregadas aqui -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="column is-2-desktop is-3-tablet">
        <a href="{% url 'cadastro-soldador' %}" class="button is-primary is-fullwidth">Adicionar Soldador</a>
    </div>
{% endblock %}